# Project 2
### Nicholas Ileczko
Choose any three of the “wide” datasets identified in the Week 5 Discussion items.  (You may 
use your own dataset; please don’t use my Sample Post dataset, since that was used in your Project 1 assignment!)  
For each of the three chosen datasets:

*Create a .CSV file (or optionally, a MySQL database!) that includes all of the information 
 included in the dataset.  You’re encouraged to use a “wide” structure similar to how the 
 information appears in the discussion item, so that you can practice tidying and transformations as described below.

*Read the information from your .CSV file into Python,  and use pandas as needed to tidy 
 and transform your data.  [Most of your grade will be based on this step!]

*Perform the analysis requested in the discussion item. 

*Your codeshould be in an Jupyter Notebook, posted to your GitHub repository, and should include narrative descriptions of your 
 data cleanup work, analysis,and conclusions.

#### Cleaning data

In [80]:
import pandas as pd
import numpy as np
import re

ccities = pd.read_csv(r'C:\Users\Nick\Desktop\california_cities.csv')
ccities.head(10)

,Unnamed: 0,city,latd,longd,elevation_m,elevation_ft,population_total,area_total_sq_mi,area_land_sq_mi,area_water_sq_mi,area_total_km2,area_land_km2,area_water_km2,area_water_percent
0,0,Adelanto,34.576111,-117.432778,875.0,2871.0,31765,56.027,56.009,0.018,145.107,145.062,0.046,0.03
1,1,AgouraHills,34.153333,-118.761667,281.0,922.0,20330,7.822,7.793,0.029,20.260,20.184,0.076,0.37
2,2,Alameda,37.756111,-122.274444,NaN,33.0,75467,22.960,10.611,12.349,59.465,27.482,31.983,53.79
3,3,Albany,37.886944,-122.297778,NaN,43.0,18969,5.465,1.788,3.677,14.155,4.632,9.524,67.28
4,4,Alhambra,34.081944,-118.135000,150.0,492.0,83089,7.632,7.631,0.001,19.766,19.763,0.003,0.01
5,5,AlisoViejo,33.575000,-117.725556,127.0,417.0,47823,7.472,7.472,0.000,19.352,19.352,0.000,0.00
6,6,Alturas,41.487222,-120.542500,1332.0,4370.0,2827,2.449,2.435,0.014,6.342,6.306,0.036,0.57
7,7,AmadorCity,38.419444,-120.824167,280.0,919.0,185,0.314,0.314,0.000,0.813,0.813,0.000,0.00
8,8,AmericanCanyon,38.168056,-122.252500,14.0,46.0,19454,4.845,4.837,0.008,12.548,12.527,0.021,0.17
9,9,Anaheim,33.836111,-117.889722,48.0,157.0,336000,50.811,49.835,0.976,131.600,129.073,2.527,1.92

The Unamed coloumn appears to be uncessary. I will drop the coloumn.

In [81]:
ccities_cols =['unnamed', 'city', 'latd', 'longd', 'elevation_m', 'elevation_ft',
       'population_total', 'area_total_sq_mi', 'area_land_sq_mi',
       'area_water_sq_mi', 'area_total_km2', 'area_land_km2', 'area_water_km2',
       'area_water_percent']
ccities.columns = ccities_cols
ccities.head()
ccities.drop('unnamed', axis = 1, inplace = True)
ccities.head()

,city,latd,longd,elevation_m,elevation_ft,population_total,area_total_sq_mi,area_land_sq_mi,area_water_sq_mi,area_total_km2,area_land_km2,area_water_km2,area_water_percent
0,Adelanto,34.576111,-117.432778,875.0,2871.0,31765,56.027,56.009,0.018,145.107,145.062,0.046,0.03
1,AgouraHills,34.153333,-118.761667,281.0,922.0,20330,7.822,7.793,0.029,20.260,20.184,0.076,0.37
2,Alameda,37.756111,-122.274444,NaN,33.0,75467,22.960,10.611,12.349,59.465,27.482,31.983,53.79
3,Albany,37.886944,-122.297778,NaN,43.0,18969,5.465,1.788,3.677,14.155,4.632,9.524,67.28
4,Alhambra,34.081944,-118.135000,150.0,492.0,83089,7.632,7.631,0.001,19.766,19.763,0.003,0.01

The cities listed under city do not contain spaces where necessary. For example AgouraHills should be Agoura Hills. 
I will add the space.

In [82]:
def spacing(city):
    space = re.findall('[A-Z][^A-Z]*', city)
    return ' '.join(space)

ccities['city'] = ccities['city'].apply(spacing)
ccities

,city,latd,longd,elevation_m,elevation_ft,population_total,area_total_sq_mi,area_land_sq_mi,area_water_sq_mi,area_total_km2,area_land_km2,area_water_km2,area_water_percent
0,Adelanto,34.576111,-117.432778,875.0,2871.0,31765,56.027,56.009,0.018,145.107,145.062,0.046,0.03
1,Agoura Hills,34.153333,-118.761667,281.0,922.0,20330,7.822,7.793,0.029,20.260,20.184,0.076,0.37
2,Alameda,37.756111,-122.274444,NaN,33.0,75467,22.960,10.611,12.349,59.465,27.482,31.983,53.79
3,Albany,37.886944,-122.297778,NaN,43.0,18969,5.465,1.788,3.677,14.155,4.632,9.524,67.28
4,Alhambra,34.081944,-118.135000,150.0,492.0,83089,7.632,7.631,0.001,19.766,19.763,0.003,0.01
5,Aliso Viejo,33.575000,-117.725556,127.0,417.0,47823,7.472,7.472,0.000,19.352,19.352,0.000,0.00
6,Alturas,41.487222,-120.542500,1332.0,4370.0,2827,2.449,2.435,0.014,6.342,6.306,0.036,0.57
7,Amador City,38.419444,-120.824167,280.0,919.0,185,0.314,0.314,0.000,0.813,0.813,0.000,0.00
8,American Canyon,38.168056,-122.252500,14.0,46.0,19454,4.845,4.837,0.008,12.548,12.527,0.021,0.17
9,Anaheim,33.836111,-117.889722,48.0,157.0,336000,50.811,49.835,0.976,131.600,129.073,2.527,1.92
10,Anderson,40.452222,-122.296667,132.0,430.0,9932,6.620,6.372,0.248,17.145,16.504,0.642,3.74
11,Angels Camp,38.068333,-120.539722,420.0,1378.0,3836,3.637,3.628,0.009,9.421,9.397,0.024,0.25
12,Antioch,38.005000,-121.805833,13.0,43.0,107100,29.083,28.349,0.734,75.324,73.422,1.902,2.52
13,Apple Valley,34.516667,-117.216667,898.0,2946.0,69135,73.523,73.193,0.330,190.426,189.570,0.856,0.45
14,Arcadia,34.132778,-118.036389,147.0,482.0,56364,11.133,10.925,0.208,28.836,28.296,0.540,1.87
15,Arcata,40.866389,-124.082778,NaN,23.0,17231,10.994,9.097,1.897,28.473,23.561,4.912,17.25
16,Arroyo Grande,35.120833,-120.586667,36.0,118.0,17716,5.835,5.835,0.000,15.113,15.113,0.000,0.00
17,Artesia,33.867222,-118.080556,16.0,52.0,16522,1.621,1.621,0.000,4.197,4.197,0.000,0.00
18,Arvin,35.209167,-118.828333,137.0,449.0,19304,4.819,4.819,0.000,12.482,12.482,0.000,0.00
19,Atascadero,35.484167,-120.672500,268.0,879.0,28310,26.130,25.641,0.489,67.675,66.409,1.265,1.87
20,Atherton,37.458611,-122.200000,18.0,59.0,6914,5.049,5.017,0.032,13.076,12.993,0.082,0.63
21,Atwater,37.347778,-120.609167,46.0,151.0,28168,6.096,6.087,0.009,15.788,15.766,0.022,0.14
22,Auburn,38.898611,-121.074444,374.0,1227.0,13330,7.166,7.138,0.028,18.560,18.488,0.071,0.38
23,Avalon,33.340833,-118.327778,9.0,30.0,3728,2.937,2.935,0.002,7.607,7.602,0.005,0.07
24,Avenal,36.004167,-120.128889,246.0,807.0,13239,19.422,19.422,0.000,50.302,50.302,0.000,0.00
25,Azusa,34.130556,-117.906944,186.0,610.0,46361,9.669,9.656,0.013,25.042,25.010,0.032,0.13
26,Bakersfield,35.366667,-119.016667,NaN,404.0,347483,143.609,142.164,1.445,371.946,368.204,3.742,1.01
27,Baldwin Park,34.082778,-117.971667,114.0,374.0,75390,6.786,6.631,0.155,17.575,17.174,0.400,2.28
28,Banning,33.931667,-116.897500,716.0,2349.0,29603,23.099,23.099,0.000,59.826,59.826,0.000,0.00
29,Barstow,34.900000,-117.016667,664.0,2178.0,22639,41.394,41.385,0.009,107.209,107.186,0.023,0.02
...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,Vista,33.193611,-117.241111,99.0,325.0,93834,18.678,18.678,0.000,48.377,48.377,0.000,0.00
453,Walnut,34.033333,-117.866667,171.0,561.0,29172,8.996,8.992,0.004,23.300,23.290,0.010,0.04
454,Walnut Creek,37.906389,-122.065000,NaN,131.0,64173,19.769,19.757,0.012,51.201,51.169,0.031,0.06
455,Wasco,35.594167,-119.340833,100.0,328.0,25545,9.426,9.426,0.000,24.413,24.413,0.000,0.00
456,Waterford,37.645000,-120.767500,52.0,171.0,8456,2.369,2.328,0.041,6.135,6.030,0.105,1.72
457,Watsonville,36.920000,-121.763611,9.0,29.0,51199,6.783,6.687,0.096,17.569,17.319,0.250,1.42
458,Weed,41.424167,-122.384444,1044.0,3425.0,2967,4.795,4.790,0.005,12.417,12.405,0.012,0.10
459,West Covina,34.056667,-117.918611,110.0,362.0,106098,16.090,16.041,0.049,41.671,41.545,0.126,0.30
460,West Hollywood,34.087778,-118.372222,86.0,282.0,34650,1.887,1.887,0.000,4.888,4.888,0.000,0.00
461,Westlake Village,34.141944,-118.819444,268.0,880.0,8270,5.509,5.185,0.320,14.257,13.430,0.828,5.80
462,Westminster,33.751389,-117.993889,12.0,39.0,89701,10.049,10.049,0.000,26.027,26.027,0.000,0.00
463,Westmorland,33.037222,-115.621389,NaN,-164.0,2225,0.590,0.590,0.000,1.529,1.529,0.000,0.00
464,West Sacramento,38.580556,-121.530278,6.0,20.0,48744,22.846,21.425,1.421,59.172,55.491,3.681,6.22
465,Wheatland,39.010000,-121.423056,28.0,92.0,3456,1.486,1.479,0.007,3.848,3.831,0.017,0.45
466,Whittier,33.965556,-118.024444,112.0,367.0,85331,14.700,14.700,0.016,37.000,37.000,0.041,0.11
467,Wildomar,33.603611,-117.272778,387.0,1270.0,32176,23.688,23.688,0.000,61.351,61.351,0.000,0.00
468,Williams,39.154722,-122.149444,25.0,82.0,5123,5.444,5.444,0.000,14.101,14.101,0.000,0.00
469,Willits,39.409722,-123.355556,424.0,1391.0,4888,2.803,2.798,0.005,7.260,7.248,0.013,0.17
470,Willows,39.524444,-122.193611,42.0,138.0,6166,2.873,2.847,0.026,7.441,7.373,0.068,0.92
471,Windsor,38.546111,-122.805278,36.0,118.0,26801,7.293,7.268,0.025,18.888,18.824,0.064,0.34
472,Winters,38.525000,-121.970833,40.0,131.0,6624,2.937,2.912,0.025,7.607,7.543,0.065,0.85
473,Woodlake,36.416389,-119.099444,134.0,440.0,7279,2.765,2.248,0.517,7.159,5.821,1.338,18.69
474,Woodland,38.678611,-121.773333,21.0,69.0,55468,15.303,15.303,0.000,39.634,39.634,0.000,0.00
475,Woodside,37.420833,-122.259722,117.0,384.0,5287,11.732,11.732,0.000,30.386,30.386,0.000,0.00
476,Yorba Linda,33.888551,-117.813231,82.3,270.0,65237,20.018,19.483,0.535,51.847,50.460,1.387,2.67
477,Yountville,38.403056,-122.362222,30.0,98.0,2933,1.531,1.531,0.000,3.966,3.966,0.000,0.00
478,Yreka,41.726667,-122.637500,787.0,2582.0,7765,10.053,9.980,0.073,26.036,25.847,0.188,0.72
479,Yuba City,39.134722,-121.626111,18.0,59.0,64925,14.656,14.578,0.078,37.959,37.758,0.201,0.53
480,Yucaipa,34.030278,-117.048611,798.0,2618.0,51367,27.893,27.888,0.005,72.244,72.231,0.013,0.02
481,Yucca Valley,34.133333,-116.416667,1027.0,3369.0,20700,40.015,40.015,0.000,103.639,103.639,0.000,0.00

#### Which cities have the highest population total?

In [29]:
ccities[['city', 'population_total']].sort_values('population_total', ascending=False).head(5)

               city  population_total
239    Los  Angeles           3884307
367      San  Diego           1345895
375       San  Jose           1000536
370  San  Francisco            837442
150          Fresno            509039

#### Which cities have the lowest area of water?

In [14]:
ccities[['city', 'area_water_percent']].sort_values('area_water_percent', ascending=True).head(5)

                       city  area_water_percent
481            Yucca Valley                 0.0
226                 Lindsay                 0.0
227  Live Oak Sutter County                 0.0
229              Livingston                 0.0
232                  Lomita                 0.0

#### Which cities have the highest area of water?

In [15]:
ccities[['city', 'area_water_percent']].sort_values('area_water_percent', ascending=False).head(5)

              city  area_water_percent
48        Brisbane               84.58
146    Foster City               81.07
366      Sand City               80.77
370  San Francisco               80.00
35       Belvedere               78.42

### NYC Death Data

In [85]:
deaths = pd.read_csv(r'C:\Users\Nick\Desktop\Death_Rates_NYC.csv')
deaths.head(10)

,Year,Leading Cause,Sex,Race Ethnicity,Deaths,Death Rate,Age Adjusted Death Rate
0,2014,Diabetes Mellitus (E10-E14),F,Other Race/ Ethnicity,11,.,.
1,2011,Cerebrovascular Disease (Stroke: I60-I69),M,White Non-Hispanic,290,21.7,18.2
2,2008,Malignant Neoplasms (Cancer: C00-C97),M,Not Stated/Unknown,60,.,.
3,2010,Malignant Neoplasms (Cancer: C00-C97),F,Hispanic,1045,85.9,98.5
4,2012,Cerebrovascular Disease (Stroke: I60-I69),M,Black Non-Hispanic,170,19.9,23.3
5,2007,Mental and Behavioral Disorders due to Use of ...,M,Not Stated/Unknown,.,.,.
6,2011,All Other Causes,F,Not Stated/Unknown,14,.,.
7,2007,Chronic Lower Respiratory Diseases (J40-J47),F,Black Non-Hispanic,163,15.5,14.8
8,2012,Essential Hypertension and Renal Diseases (I10...,F,Hispanic,101,8.2,9.5
9,2009,"Diseases of Heart (I00-I09, I11, I13, I20-I51)",M,Hispanic,1382,123.1,227.9

Cleaning data, replacing . with null values, dropping uncessary data and reassigning data from string to int

In [100]:
deaths = deaths.replace(to_replace='.', value=np.nan)
deaths.isnull().sum()
deaths.Deaths = deaths.Deaths.dropna().astype(np.int64)
deaths.sort_values(['Year', 'Deaths'], ascending=[True,False]).head(10)

,Year,Leading Cause,Sex,Race Ethnicity,Deaths,Death Rate,Age Adjusted Death Rate
79,2007,Malignant Neoplasms (Cancer: C00-C97),M,White Non-Hispanic,3356.0,250.9,213.7
65,2007,"Diseases of Heart (I00-I09, I11, I13, I20-I51)",M,Black Non-Hispanic,2121.0,248.9,340.2
272,2007,All Other Causes,M,White Non-Hispanic,1749.0,130.7,115.9
234,2007,All Other Causes,F,White Non-Hispanic,1680.0,117.1,81.5
235,2007,All Other Causes,M,Hispanic,988.0,90.6,142.6
71,2007,Chronic Lower Respiratory Diseases (J40-J47),M,White Non-Hispanic,345.0,25.8,21.7
170,2007,"Accidents Except Drug Posioning (V01-X39, X43,...",M,White Non-Hispanic,297.0,22.2,19.8
33,2007,Influenza (Flu) and Pneumonia (J09-J18),F,Black Non-Hispanic,295.0,28,26.9
215,2007,Cerebrovascular Disease (Stroke: I60-I69),F,Black Non-Hispanic,279.0,26.5,25.3
52,2007,"Assault (Homicide: Y87.1, X85-Y09)",M,Black Non-Hispanic,267.0,31.3,31.1

Showing deaths for White Non-Hispanic Females.

In [67]:
deaths[(deaths['Sex']=='F') & (deaths['Race Ethnicity'] == 'White Non-Hispanic')].sort_values(by = ['Year' , 'Deaths'])

,Year,Leading Cause,Sex,Race Ethnicity,Deaths,Death Rate,Age Adjusted Death Rate
181,2007,"Accidents Except Drug Posioning (V01-X39, X43,...",F,White Non-Hispanic,162.0,11.3,7.3
234,2007,All Other Causes,F,White Non-Hispanic,1680.0,117.1,81.5
38,2008,Diabetes Mellitus (E10-E14),F,White Non-Hispanic,210.0,14.6,8.8
230,2008,All Other Causes,F,White Non-Hispanic,1706.0,118.9,78.6
190,2009,Malignant Neoplasms (Cancer: C00-C97),F,White Non-Hispanic,3346.0,232.9,159
133,2010,Essential Hypertension and Renal Diseases (I10...,F,White Non-Hispanic,219.0,15.3,7.7
224,2010,Chronic Lower Respiratory Diseases (J40-J47),F,White Non-Hispanic,501.0,35,20.7
119,2010,"Diseases of Heart (I00-I09, I11, I13, I20-I51)",F,White Non-Hispanic,5351.0,374.2,189.2
27,2011,Mental and Behavioral Disorders due to Acciden...,F,White Non-Hispanic,88.0,6.2,6.1
165,2011,Essential Hypertension and Renal Diseases (I10...,F,White Non-Hispanic,199.0,14,6.8
195,2011,Malignant Neoplasms (Cancer: C00-C97),F,White Non-Hispanic,3371.0,238,161.1
285,2012,"Accidents Except Drug Posioning (V01-X39, X43,...",F,White Non-Hispanic,177.0,12.5,8.5
115,2012,Essential Hypertension and Renal Diseases (I10...,F,White Non-Hispanic,199.0,14,7.2
226,2012,Diabetes Mellitus (E10-E14),F,White Non-Hispanic,240.0,16.9,10.3
282,2013,"Accidents Except Drug Posioning (V01-X39, X43,...",F,White Non-Hispanic,166.0,11.7,8.1
104,2013,Alzheimer's Disease (G30),F,White Non-Hispanic,263.0,18.5,8.4
243,2013,Cerebrovascular Disease (Stroke: I60-I69),F,White Non-Hispanic,427.0,30,16.4
147,2013,Influenza (Flu) and Pneumonia (J09-J18),F,White Non-Hispanic,622.0,43.7,22.1
239,2013,All Other Causes,F,White Non-Hispanic,2595.0,182.5,111.1
218,2013,"Diseases of Heart (I00-I09, I11, I13, I20-I51)",F,White Non-Hispanic,4535.0,319,160.6
223,2014,Septicemia (A40-A41),F,White Non-Hispanic,118.0,8.3,4.7
28,2014,"Accidents Except Drug Posioning (V01-X39, X43,...",F,White Non-Hispanic,169.0,11.9,7.4
23,2014,Essential Hypertension and Renal Diseases (I10...,F,White Non-Hispanic,180.0,12.7,6.7
129,2014,Influenza (Flu) and Pneumonia (J09-J18),F,White Non-Hispanic,563.0,39.7,20.4

### Traffic Violations

In [145]:
pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows',100)
trafficv = pd.read_csv(r'C:\Users\Nick\Desktop\Traffic_Violations.csv')
trafficv.head()

,Date Of Stop,Time Of Stop,Agency,SubAgency,Description,Location,Latitude,Longitude,Accident,Belts,Personal Injury,Property Damage,Fatal,Commercial License,HAZMAT,Commercial Vehicle,Alcohol,Work Zone,State,VehicleType,Year,Make,Model,Color,Violation Type,Charge,Article,Contributed To Accident,Race,Gender,Driver City,Driver State,DL State,Arrest Type,Geolocation
0,9/24/2013,17:11:00,MCP,"3rd district, Silver Spring",DRIVING VEHICLE ON HIGHWAY WITH SUSPENDED REGI...,8804 FLOWER AVE,NaN,NaN,No,No,No,No,No,No,No,No,No,No,MD,02 - Automobile,2008.0,FORD,4S,BLACK,Citation,13-401(h),Transportation Article,No,BLACK,M,TAKOMA PARK,MD,MD,A - Marked Patrol,NaN
1,8/29/2017,10:19:00,MCP,"2nd district, Bethesda",DRIVER FAILURE TO OBEY PROPERLY PLACED TRAFFIC...,WISCONSIN AVE@ ELM ST,38.981725,-77.092757,No,No,No,No,No,No,No,No,No,No,VA,02 - Automobile,2001.0,TOYOTA,COROLLA,GREEN,Citation,21-201(a1),Transportation Article,No,WHITE,F,FAIRFAX STATION,VA,VA,A - Marked Patrol,"(38.981725, -77.0927566666667)"
2,12/1/2014,12:52:00,MCP,"6th district, Gaithersburg / Montgomery Village",FAILURE STOP AND YIELD AT THRU HWY,CHRISTOPHER AVE/MONTGOMERY VILLAGE AVE,39.162888,-77.229088,No,No,No,Yes,No,No,No,No,No,No,MD,02 - Automobile,2001.0,HONDA,ACCORD,SILVER,Citation,21-403(b),Transportation Article,No,BLACK,F,UPPER MARLBORO,MD,MD,A - Marked Patrol,"(39.1628883333333, -77.2290883333333)"
3,8/29/2017,9:22:00,MCP,"3rd district, Silver Spring",FAILURE YIELD RIGHT OF WAY ON U TURN,CHERRY HILL RD./CALVERTON BLVD.,39.056975,-76.954633,No,No,No,Yes,No,No,No,No,No,No,MD,02 - Automobile,1998.0,DODG,DAKOTA,WHITE,Citation,21-402(b),Transportation Article,No,BLACK,M,FORT WASHINGTON,MD,MD,A - Marked Patrol,"(39.056975, -76.9546333333333)"
4,8/28/2017,23:41:00,MCP,"6th district, Gaithersburg / Montgomery Village",FAILURE OF DR. TO MAKE LANE CHANGE TO AVAIL. L...,355 @ SOUTH WESTLAND DRIVE,NaN,NaN,No,No,No,No,No,No,No,No,No,No,MD,02 - Automobile,2015.0,MINI COOPER,2S,WHITE,Citation,21-405(e1),Transportation Article,No,WHITE,M,GAITHERSBURG,MD,MD,A - Marked Patrol,NaN

Which Car Make got the most violations? Ford

In [154]:
trafficv['Make'].value_counts().head(10)

FORD           27
TOYOTA         20
HONDA          18
TOYT           12
NISS            8
CHEV            7
DODGE           6
HOND            6
MINI COOPER     6
JEEP            5
Name: Make, dtype: int64

Which Violation Type is the most popular? Citation

In [157]:
trafficv['Violation Type'].value_counts()

Citation    198
Warning       1
Name: Violation Type, dtype: int64